.searchOptions{
    border: solid 2px rgb(133, 133, 133);
    margin: 65px 10px 10px 0px;
    padding: 30px;
    justify-self: center;
    background: #030122;
    width: 20%;
}
/* 
.form-input{
    width: 60%;
} */