.pricingContent{
    background-image: url(./images/b2.jpg);
    background-size: 100% 100%;
    height: 100vh;
    /* background: #065488;  */
    grid-area: b;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "left graph right"
      "left graph right"
      "mnu mnu mnu";
    color: whitesmoke;
}