.pricingContent{
    background-image: url(./b2.jpg);
    background-size: 100% 100%;
    /* background: #065488; */
   
    grid-area: b;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "left graph right"
      "left graph right"
      "bot bot bot";
    color: whitesmoke;
}
.graphTitle{
  color: rgb(179, 179, 179);
  /* color: #5c5c5c; */
}
.graphDiv{
  box-shadow: 0 0 20px rgb(71, 71, 71);
  border: solid 2px rgb(163, 163, 163);
  padding: 30px;
  margin-top: 104px;
  background: #202022;
  /* background-image: linear-gradient(to top right, #919191, #d1ebec); */
  grid-area: graph;
}