.pricingContent{
    background-image: linear-gradient(to bottom right, #090633, #113a92);
    grid-area: b;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "left graph right"
      "left graph right"
      "bot bot bot";
    color: whitesmoke;
}
.graphDiv{
    grid-area: graph;
}