.footer{
    height: 75px;
    background: #05013a;
    /* background-image: linear-gradient(to bottom right, #091f4e, #0b2b6e); */
    /* background-image: linear-gradient(to top right, #063317, #097238); */
    color: rgb(160, 160, 160);
    font-family: "Rajdhani", sans-serif;
    padding: 5px;
    text-align: center;
}
.sclbtn{
    margin: 5px 5px 0px 5px;
  }
.sclbtn:hover{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: pointer;
    filter: brightness(400%)
}